.box_1 {
   height: 200px; 
   width: 200px;
   background-color: #7fffd4;
   position: static;
}

.box_2 {
    height: 200px; 
    width: 200px;
    background-color: #3f30cc;
    position: static;
 }

 .box_3 {
    height: 200px; 
    width: 200px;
    background-color: #dd6622;
    position: static;
 }