body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_1 {
    height: 500px;
    width: 500px;
    background-color: rgb(31, 106, 172);
}

.container_2 {
    height: 500px;
    width: 500px;
    background-color: rgb(138, 43, 226);
}

@media screen and (max-widht: 480px) {

    body,
    html
    .container_1 {
        height: 300px;
        width: 300px;
    }

    .container_2 {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-widht: 481px) and (min-widht: 768px){
    
}