h1 {
    user-select: none;
}

h1::before {
    content: "*";
    margin: 50px;
}

h1::after {
    content: "@";
}

h1::first-letter {
    color: #db2323;
}

p::first-line {
    font-size: 2em;
}

p::selection {
    color: #db2323;
    background-color: #eeff00;
}

input::placeholder {
    font-size: italic;
}